# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build-DataStruct-Desktop_Qt_5_15_2_GCC_64bit-Debug/

build-DataStruct-Desktop_Qt_5_15_2_GCC_64bit-Profile/

build-DataStruct-Desktop_Qt_5_15_2_GCC_64bit-Release/
build-DataStruct-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/usersxhdairappdatalocaltemptmplhpmiq
build-DataStruct-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/usersxhdairappdatalocaltemptmpknhmsq
build-DataStruct-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/usersxhdairappdatalocaltemptmp75xatk
build-DataStruct-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/usersxhdairappdatalocaltemptmp63hzro
build-DataStruct-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/usersxhdairappdatalocaltemptmp2db4qw
build-DataStruct-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/usersxhdairappdatalocaltemptmp0feas1
build-DataStruct-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/Makefile.Release
build-DataStruct-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/Makefile.Debug
build-DataStruct-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/Makefile
build-DataStruct-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/debug/qrc_qml.cpp
build-DataStruct-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/debug/moc_predefs.h
build-DataStruct-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/debug/moc_memorydisplayclass.cpp
build-DataStruct-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/debug/moc_guicontrolclass.cpp
build-DataStruct-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/.qmake.stash
